#horaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
table{
    background-color: rgba(255, 0, 0, 0.685);
    min-width:70% ;
    height: 300px;
    font-size: 30px;
}
td{
    border: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
th{
    border: 1px solid black;
}
#horaire__sousTitre{
    display: flex;
    padding-top: 25vh;
    font-size: 35px;
}
