* {
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-family: sans-serif;
}
* , *:before, *:after{
    box-sizing: inherit;
}
body{
    display: flex;
    flex-direction: column;
    
}

/*opérateur de sélection « > » permet de sélectionner l'enfant direct de la balise qui précede « > »
La différence entre « > » et « < » c'est que le plus grand permet de sélectionné l'enfant et l'arriere petit enfant, etc
*/


/* L'opérateur ~ permet de sélectionner l'élément suivant 
display: none, rend la case a coché invisible
transition: transform .25s, animation du transform*/

body > div > section,
body > div > footer,
body > div > header{
    display: flex;
    flex: 0 1 1100px;
    border : 1px solid #aaa;
}
body > div{
    display: flex;
    justify-content: center;
}
body > div > section{
    min-height: 100vh;    
}
body > div > header {
    position: relative;
}
body > div:nth-of-type(1){
    background-color: turquoise;
    position: sticky;
    top: 0;
}
body > div:nth-of-type(2){
    background-color: wheat;
}
body > div:nth-of-type(3){
    background-color: brown;
}
body > div:nth-of-type(4){
    background-color: blueviolet;
}
body > div:nth-of-type(5){
    background-color: chocolate;
}
body > div:nth-of-type(6){
    background-color: cornflowerblue;
}
body > div:nth-of-type(7){
    background-color: cornflowerblue;
}
body > div:nth-of-type(8){
    background-color: black;
}
h2{
    font-size: 50px;
    font-weight: bold;
}


